* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  background-color: dodgerblue;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 50px 50px 50px; */
  /*column-gap: 20px;*/
  /*row-gap: 20px;*/
  gap: 10px 5px;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */

  .grid-items {
    background-color: azure;
    padding: 20px;
  }

  .grid-items:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .grid-items:last-child {
    grid-column: 1 / 4;
  }

  .grid-items:nth-child(3) {
    grid-row: 2 / span 3;
  }

  .grid-items:nth-child(4) {
    grid-row: 2 / 4;
  }
}
