* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  background-color: dodgerblue;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-areas:
    "header header header header . ."
    "sidebar sidebar content content content content"
    "footer footer footer footer footer footer"; */
  /* grid-template-rows: 50px 50px 50px; */
  /*column-gap: 20px;*/
  /*row-gap: 20px;*/
  gap: 10px 5px;
  /* justify-content: space-evenly; */
  /* align-content: space-around; */

  .grid-items {
    background-color: azure;
    padding: 20px;
  }

  @media only screen and (max-width: 580px) {
    .grid-items:nth-child(1) {
      grid-area: 1 / 1 / 2 / 4;
    }

    .grid-items:nth-child(2) {
      grid-area: 2 / 3 / 3 / 4;
    }

    .grid-items:nth-child(4) {
      grid-area: 2 / 1 / 3 / 2;
    }
  }

  /* .grid-items:nth-child(1) {
    /* grid-column: 1 / span 2; */
  /* grid-area: grid-row-start / grid-column-start / grid-row-end / grid-column-end; */
  /* grid-area: 1 / 1 / 3 / 3; */

  /* grid-area: header; */

  /* .grid-items:nth-child(2) {
    grid-area: sidebar;
  }

  .grid-items:nth-child(3) {
    grid-area: content;
  } */

  .grid-items:last-child {
    grid-column: 1 / 4;
    /* grid-area: footer; */
  }

  /* .grid-items:nth-child(3) {
    grid-row: 2 / span 3;
  }

  .grid-items:nth-child(4) {
    grid-row: 2 / 4;
  } */
}
