@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --gray: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  height: 60px;
  background-color: var(--black);

  .nav-wrapper {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      a {
        color: var(--white);
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .menu {
      padding: 0 20px;
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin: 0 20px;

        a {
          color: var(--white);
          text-decoration: none;
          font-size: 16px;
          font-weight: normal;
        }
      }
    }
  }
}

.banner {
  background-color: var(--white);
  padding: 40px 0;

  .banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .banner-text {
      display: flex;
      flex-direction: column;
      color: var(--black);

      h1 {
        font-weight: bold;
        font-size: 36px;
      }

      p {
        font-size: 20px;
        margin: 20px 0;
      }

      .banner-btn {
        background-color: var(--black);
        color: var(--white);
        width: 200px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }
    }
  }
}

.cte {
  background-color: var(--black);
  height: 500px;

  .cte-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    .cte-info {
      color: var(--white);
      text-align: center;

      h1 {
        font-weight: bold;
        font-size: 32px;
      }

      p {
        font-size: 20px;
      }

      .img-mercedes-front {
        width: 420px;
        margin-top: 30px;
      }

      .img-mercedes-group {
        width: 100%;
      }
    }
  }
}

.product {
  padding: 30px 0;

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

    .product-grid-item {
      border: 1px solid var(--gray);
      padding: 20px;
      position: relative;

      .products-best-seller {
        position: absolute;
        /* width: 150px;
        height: 30px; */
        background-color: var(--black);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white);
        font-size: 14px;
        padding: 8px 15px;
      }

      .product-grid-item-img {
        img {
          width: 320px;
          height: 200px;
          object-fit: cover;
        }
      }

      .product-grid-item-info {
        h3 {
          font-weight: bold;
          font-size: 24px;
        }

        p {
          font-size: 20px;
        }

        a {
          background-color: var(--black);
          height: 50px;
          color: var(--white);

          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          padding: 10px;
          margin-top: 20px;
        }
      }
    }
  }
}

footer {
  background-color: var(--black);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);

  p {
    font-size: 16px;
    text-align: center;
  }
}
